html{
	width: 100%;
	height: 100%;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.logo1 {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -20px;
}
.logo2 {
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  position: relative;
  top: -40px;
}
body{
	width: 100%;
  height: 100%;
  min-height: 950px;
  background-color: white;  
}
input[type=text] {
    border: 2px solid lightblue;
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=radio] {
  padding-left: 20px;
  margin: 10px;
}
  input[type=submit] {
    padding: 20px;
    margin: 20px;
  }
.form{
  border-color: 2px lightblue;
  border-width: 5px;
  margin-bottom: 40px;
  position: relative;
  top: -40px;
}
#Demographics{
  position: relative;
  top: -30px;
}
.option{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    padding: 50dp
    
}
#proc{
  position: relative;
  top: -40px;
  left: -22px;
}
#caption {
  position: relative;
  top: -50px;
  left: -22px;
}
#mySelect{
  width: 70%; 
  height: 25px;
   border-color: 2px solid lightblue; 
   border-width: 4px;
}
.dropdown{
  width: 100%;
  height: 40px;
  border: 2px solid lightblue;
  border-radius: 4px;
  background-color: white;
}
::-webkit-input-placeholder { 
  color: black;
  font-size: 14px;
  text-align: center;
}
select{
   margin: 8px 0;
}